---
import Layout from "../layouts/Layout.astro";
import Section from "../components/Section.astro";

const isDev = import.meta.env.DEV;
---

<Layout title="Moss">
    <main>
        <div class="column">
            <Section id="left">
                <!-- Left -->
            </Section>
        </div>
        <div class="column center">
            <Section id="top">
                <!-- Top -->
            </Section>
            <Section id="center">
                <!-- Center -->
            </Section>
            <Section id="bottom">
                <!-- Bottom -->
            </Section>
        </div>
        <div class="column">
            <Section id="right">
                <!-- Right -->
            </Section>
        </div>
    </main>
</Layout>

<style>
    main {
        width: 100dvw;
        height: 100dvh;
        display: flex;
        flex-direction: row;
    }
    .column {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }
    .center {
        flex-grow: 2;
    }
</style>
