---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Moss">
	<main>
		Hello World
	</main>
</Layout>

<style>
	main {
		padding: 1rem;
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
</style>
