---
import Layout from "../layouts/Layout.astro";
import Section from "../components/Section.astro";
---

<Layout title="Moss">
    <main>
        <Section id="left">
            <!-- Left -->
            1
        </Section>
        <div id="column">
            <Section id="top">
                <!-- Top -->
                1
            </Section>
            <Section id="center">
                <!-- Center -->
                Hello World
            </Section>
            <Section id="bottom">
                <!-- Bottom -->
                3
            </Section>
        </div>
        <Section id="right">
            <!-- Right -->
            2
        </Section>
    </main>
</Layout>

<style>
    main {
        width: 100dvw;
        height: 100dvh;
        display: flex;
        flex-direction: row;
        & > .section {
            width: 33.333%;
            color: white;
        }
    }
    #column {
        display: flex;
        flex-direction: column;
    }
</style>
